body {
    /*background-image: url("/images/4218996.jpg");*/
    background-color: #2f3136;
  /* background-position: center; */
    background-repeat: no-repeat;
  /* background-size: 100%; */
}

#text {
    font-family: fantasy;
    font-size: 50px;
    /* display: flex; */
    /* display: inline-flex; */
    /* display: flex; */
    position: absolute;
    margin-left: 200px;
    margin-top: 60px;
    color: white;
}


.buttons {
    display: flex;
    margin-top: -2%;
}

.button {
  height: 200px;
  width: 200px;
}

.spotify {
  background-color: green;
  background: url("images/Spotify_icon-icons.com_66783.png") center/50% no-repeat;
}

.chatpic{
   background: url(/images/discordchattexample.png) center/100% no-repeat;
   height: 700px;
   width: 700px;
   margin-left: 400px;
}