<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Discord</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/discordcss.css}" rel="stylesheet" />
</head>
<body>
<div id="text">
    /Discord
</div>
<img id="logo" src="https://www.freepnglogos.com/uploads/discord-logo-png/discord-logo-logodownload-download-logotipos-1.png" width="200" />
<div class="buttons">
    <a class="button spotify" href="/spotify"></a>
    <a class="chatpic"></a>
</div>



</body>
</html>