<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Redir</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script>
    var Play = function() {
        fetch("/play", { method: "POST"});
    }

    var Pause = function() {
    fetch("/pause", { method: "POST"});

   }
</script>
<body>
<h1> Spotify Play </h1>
<!--<p th:text="${code}" /> -->
<!-- <button type="button" class="btn btn-primary" onclick="${code}"></button> -->

<button type="button" onclick="Play()">Play</button>
<button type="button" onclick="Pause()">Pause</button>



</body>
</html>